*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    height: 100%;

}

.center{
display: flex;
flex-wrap: wrap;
max-width: 1280px;
margin: 0 auto;
margin-top: 2%;
padding: 0 2%;
}

.logo{
    position: absolute;
    top: 10px;
    left: 20px;
}

nav{
    position: absolute;
    right: 5%;
}

nav a{
    color: rgba(0, 0, 0, 0.685);
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    line-height: 50pt;
    margin-right: 20pt;
    transition: 0.3s;
    cursor: pointer;
}

nav a:hover{
    color: black;
}


.extra{
    position: fixed;
    bottom: -520px;
    right: -500px;
    width: 1000px;
    height: 900px;
    border-radius: 40em 0 0 0;
    background-color: #017143;
}

#IMG{
    position: absolute;
    left: 50px;
    top: 50px;
    height: 350px;
}

.midia{
    position:absolute;
    right: 15px;
    top: 15px;
    transition: 0.3s;
}

.midia img{
    position: relative;
    display: block;
    height: 45px;
    padding-bottom: 20px ;
    cursor: pointer;
    transition: 0.3s;
}

.midia img:hover{
    height: 50px;
}

.text h1{
    font-size: 3.2em;
    color: rgba(0, 0, 0, 0.685);
}

.text span{
    color: #017143;
}

.text p{
    margin-top: 10px;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.685);
    font-size: 0.9em;
    font-weight: bold;
}

.text{
    width: 400px;
    margin: 0 auto;
    position: absolute;
    top: 320px;
    left: 70px;
}

.more{
    padding: 5px;
    width: 8em;
    height: 2.6em;
    margin-top: 15px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 0;
    background-color: #017143;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.more:hover{
    background-color: #007544ec; 
}

.coffees{
    position: absolute;
    bottom: 0;
    right: 450px;
}

.coffees img{
    height: 112px;
    padding: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.coffees img:hover{
    height: 130px;
}

@media screen and (max-height:515px) /* Remover coffees */ {
    .coffees img{
        display: none;
    }
}

@media screen and (max-height: 750px) /* Para telas grandes */ {
    
    .text {
      top: 220px;
    }
  }

@media screen and (max-height: 670px) /* Para telas grandes */{
    .extra{
        right: -500px;
        width: 850px;
        height: 970px;
    }
}

@media screen and (max-height: 600px) /* O minímo possível para telas grandes */{

    .text {
        top: 150px;
      }

    .extra{
        width: 840px;
        height: 910px;
    }

    .coffees{

    }
}

@media screen and (max-width: 980px) /*Telas intermediárias*/{

    .text {
        top: 150px;
      }

    .extra{
        width: 850px;
    }

    .coffees{
        position: absolute;
        right: 430px;
    }
}

@media screen and (max-width: 900px) /*Telas intermediárias*/{

    .coffees{
        position: absolute;
        top: 560px;
        right: 370px;
    }
}

@media screen and (max-width: 900px) /*Telas itermediárias*/{

    .text{
        top: 200px;
        font-size: 15px;
    }


    .coffees{
        display: none;
    }
}

@media screen and (max-width: 790px) /*Telas itermediárias*/{



    .text{
        left: 10px;
    }
}
