*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    height: 100%;
    overflow-y: hidden;
}

.center{
display: flex;
flex-wrap: wrap;
max-width: 1280px;
margin: 0 auto;
margin-top: 2%;
padding: 0 2%;
}

.logo{
    position: fixed;
    top: 30px;
    left: 70px;
}

nav{
    position: fixed;
    right: 5%;
}

nav a{
    color: rgba(0, 0, 0, 0.685);
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    line-height: 50pt;
    margin-right: 20pt;
    transition: 0.3s;
    cursor: pointer;
}

nav a:hover{
    color: black;
}


.extra{
    position: fixed;
    bottom: 0;
    right: 0;
    bottom: -450px;
    right: -500px;
    width: 1000px;
    height: 1100px;
    border-radius: 40em 0 0 0;
    background-color: #017143;
}

#IMG{
    transition: 1s;
}

.midia{
    position: absolute;
    right: 15px;
    top: 370px;
    transition: 0.3s;
}

.midia img{
    display: block;
    height: 45px;
    padding-bottom: 20px ;
    cursor: pointer;
    transition: 0.3s;
}

.midia img:hover{
    height: 50px;
}

.text h1{
    font-size: 3.2em;
    color: rgba(0, 0, 0, 0.685);
}

.text span{
    color: #017143;
}

.text p{
    margin-top: 10px;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.685);
    font-size: 0.9em;
    font-weight: bold;
}

.text{
    width: 35%;
    margin: 0 auto;
    position: fixed;
    top: 320px;
    left: 70px;
}

.more{
    padding: 5px;
    width: 8em;
    height: 2.6em;
    margin-top: 15px;
    border-radius: 10px;
    border: 0;
    background-color: #017143;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.more:hover{
    background-color: #007544ec; 
}

.coffees{
    position: absolute;
    bottom: 0;
    right: 550px;
}

.coffees img{
    height: 112px;
    padding: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.coffees img:hover{
    height: 130px;
}

@media screen and (max-width: 970px) and (max-height: 750px) {
    .text{
        top: 220px;
    }
}
